<a href="https://colab.research.google.com/github/nramelia2/MACHINE-LEARNING/blob/main/WEEK%201_IntroToMachineLearning/3_Your_First_Machine_Learning_Model_TK42_PIL_Nurul_Amelia_1103194032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # library pandas

In [2]:
# menyambungkan google collab dengan drive agar .csv yang di drive bisa dibaca (connect google colab to the drive so that the .csv on the drive can be read).
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# sublibrary dari modul model_selection di library sklearn (sublibrary of the model_selection module in the sklearn library)
from sklearn.tree import DecisionTreeRegressor

In [4]:
# menyimpan lokasi penyimpanan ke dalam variabel agar mudah dipanggil (saves the storage location into a variable for easy calling).
melbourne_data = pd.read_csv('/content/drive/My Drive/ML/week1/melb_data.csv')
melbourne_data.columns # menampilkan apa saja kolom data (display any data column).

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
# menghapus baris data yang terdapat NaN, sedangkan axis=0 untuk menghapus kolom data yang terdapat NaN (delete data rows that contain NaN, while axis = 0 to delete data columns that contain NaN).
melbourne_data = melbourne_data.dropna(axis=0)
y = melbourne_data.Price

# untuk mengatur apa yang ingin ditampilkan didalam kolom (to set what to display in the column).
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [6]:
# menampilkan hasil n data pertama, jika tidak diisi n-nya maka secara randaom n=6 (displays the results of the n first data, if n is not filled in then randomly n=6)
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [7]:
# Define model.
melbourne_model = DecisionTreeRegressor(random_state=1) # random_state digunakan untuk memastikan hasil yang sama setiap kali dijalankan (random_state is used to ensure the same result every time it is run).

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [8]:
# menampilkan tulisan making .... (showing the text making...)
print("Making predictions for the following 5 houses:")
# menampilkan hasil dari X.head() (return the result of X.head()).
print(X.head())
print("The predictions are") 
# menampilkan prediksi harga dari data yang ada (display price predictions from existing data).
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]