<a href="https://colab.research.google.com/github/nramelia2/MACHINE-LEARNING/blob/main/WEEK%201_IntroToMachineLearning/IntroToMachineLearning_CombinedCourse2To6_TK42_PIL_Nurul_Amelia_1103194032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRO TO MACHINE LEARNING.
1. HOME MODELS WORK.
2. BASIC DATA EXPLORATION.
3. YOUR FIRST MACHINE LEARNING MODEL.
4. MODEL VALIDATION.
5. UNDERFITTING AND OVERFITTING.
7. RANDOM FOREST.

Attention (as a note) 
You need to read this before running this program.
In the following program is a combined course (2-6).
Then, here I use data :
#### melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']
Then, in the course part 3 I used
#### melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
Thus, I will tell that if using melbourne_features different, the final result will be different. That is all and thank you. Hope it can help you.

In [1]:
import pandas as pd # library pandas

# BASIC DATA EXPLORATION

In [2]:
# menyambungkan google collab dengan drive agar .csv yang di drive bisa dibaca (connect google colab to the drive so that the .csv on the drive can be read).
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# sublibrary dari modul model_selection di library sklearn (sublibrary of the model_selection module in the sklearn library)
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [4]:
# menyimpan lokasi penyimpanan ke dalam variabel agar mudah dipanggil (saves the storage location into a variable for easy calling).
melbourne_data = pd.read_csv('/content/drive/My Drive/ML/week1/melb_data.csv')
# menampilkan rangkuman data statistik seperti mean, quartil, max dan lain-lainnya (summary) pada kolom (displays a summary of statistical data such as mean, quartile, max and others (summary) in the column).   
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

# YOUR FIRST MACHINE LEARNING MODEL

In [5]:
# menampilkan apa saja kolom data (display any data column).
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
# menghapus baris data yang terdapat NaN, sedangkan axis=0 untuk menghapus kolom data yang terdapat NaN (delete data rows that contain NaN, while axis = 0 to delete data columns that contain NaN).
melbourne_data = melbourne_data.dropna(axis=0) 
y = melbourne_data.Price

# untuk mengatur apa yang ingin ditampilkan didalam kolom (to set what to display in the column).
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [7]:
# menampilkan hasil n data pertama, jika tidak diisi n-nya maka secara randaom n=6 (displays the results of the n first data, if n is not filled in then randomly n=6)
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [8]:
# Define model.
melbourne_model = DecisionTreeRegressor(random_state=1) # random_state digunakan untuk memastikan hasil yang sama setiap kali dijalankan (random_state is used to ensure the same result every time it is run).

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [9]:
# menampilkan tulisan making .... (showing the text making...)
print("Making predictions for the following 5 houses:")
# menampilkan hasil dari X.head() (return the result of X.head()).
print(X.head()) 
print("The predictions are") 
# menampilkan prediksi harga dari data yang ada (display price predictions from existing data).
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

# MODEL VALIDATION

In [10]:
predicted_home_prices = melbourne_model.predict(X)
# mengukur tingkat keakuratan suatu model (MAE) (measuring the level of accuracy of a model (MAE)).
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

In [11]:
# train_X sebagai data X yang ingin dilatih (train_X as data X you want to train).
# train_y sebagai variabel dependen yang ingin dilatih (train_y as the dependent variable you want to train).
# X sebagai variabel independen dan y sebagai variabel dependen (X as the independent variable and y as the dependent variable).
# random_state digunakan untuk memastikan hasil yang sama setiap kali dijalankan, jika kita menggunakan angka 1,2,... maka hasil yang di dapatkan juga akan berbeda (kalau disini hasilnya akan semakin kecil)
# (random_state is used to ensure the same result every time it is run, if we use the number 1,2,... then the results will also be different (if here the results will be smaller)).
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0) # memecah data menjadi train dan validasi secara acak (breaks data into trains and validations randomly).
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)

# mendapatkan harga yang diprediksi dari validasi data (get the predicted price from data validation).
val_predictions = melbourne_model.predict(val_X)
# mengukur tingkat keakuratan suatu model (MAE) (measuring the level of accuracy of a model (MAE)).
print(mean_absolute_error(val_y, val_predictions))

258441.1626856036

# UNDERFITTING AND OVERFITTING

In [12]:
# jika tidak ada max_leaf_nodes maka jumlah node daun tidak terbatas (if there is no max_leaf_nodes then the number of nodes and is unlimited).
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y): 
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [13]:
# mwmbandingkan MAE dengan nilai max_leaf_nodes yang berbeda (compare MAE with differing values of max_leaf_nodes)
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  258171
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 5000  		 Mean Absolute Error:  254983

# RANDOM FORESTS

In [14]:
# mengukur tingkat keakuratan suatu model (MAE) (measuring the level of accuracy of a model (MAE)).
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626